# Dependencies
node_modules
.pnpm-store

# Build
dist
.next
.turbo
out
build
*.tsbuildinfo

# Env
.env
.env.local
.env.*.local

# Prisma
packages/db/prisma/*.db
packages/db/prisma/*.db-journal

# IDE
.idea
.vscode
*.swp
*.swo
.DS_Store

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Testing
coverage

# Misc
.vercel
HELP.md
target/
